<li id="card-{{ card.id }}" data-id="card-{{ card.id }}" data-cost="{{ card.cost }}" data-attack="{{ card.attack }}" data-defense="{{ card.defense }}">
    <div class="col-md-3 portfolio-item">
        <h3><button data-toggle="modal" data-target="#{{ card.id }}" class="btn btn-link">{{ card.name }}</button></a></h3>
        <img src="{{ card.image }}">
    </div>
</li>